/* Green Banner Styles */
.banner-green {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #11705E;
  height: 40px;
  padding: 0 2rem;
  overflow-x: hidden;
}

.banner-green-icon {
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .banner-green-icon {
    display: none;
  }
}

.banner-green-text {
  color: #F6E7B2;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
} 